.course {
    
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-direction: column;
    text-align: center;
    
    margin: 0 auto;
    margin-bottom: 40px;
}
h1 {
    color: rgb(86, 170, 61);
}
table {
    font-size: 16px;
}

table thead {
    background-color: #fafafa;
}

table thead th {
    color: #0b5563;
    padding: 10px 0;
}

table tbody td {
    padding-top: 14px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
